USE [ИС ВУЗа]
GO
/****** Object:  Table [dbo].[Виды диссертаций]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Виды диссертаций](
	[Код_вида_диссертации] [tinyint] IDENTITY(1,1) NOT NULL,
	[Вид_диссертации] [char](16) NOT NULL,
 CONSTRAINT [PK_Виды диссертаций] PRIMARY KEY CLUSTERED 
(
	[Код_вида_диссертации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Виды занятий]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Виды занятий](
	[Код_ВидаЗанятия] [tinyint] IDENTITY(1,1) NOT NULL,
	[Вид_занятия] [char](32) NOT NULL,
 CONSTRAINT [PK_Виды занятий] PRIMARY KEY CLUSTERED 
(
	[Код_ВидаЗанятия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Виды занятий по часам]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Виды занятий по часам](
	[Код_ПунктаУП] [int] NOT NULL,
	[Код_ВидаЗанятия] [tinyint] NOT NULL,
	[Количество_часов] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Возможные оценки]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Возможные оценки](
	[Код_соответствия] [tinyint] IDENTITY(1,1) NOT NULL,
	[Код_ФормыКонтроля] [tinyint] NOT NULL,
	[Оценка] [char](16) NOT NULL,
 CONSTRAINT [PK_Возможные оценки] PRIMARY KEY CLUSTERED 
(
	[Код_соответствия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Группы]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Группы](
	[Код_группы] [int] IDENTITY(1,1) NOT NULL,
	[Номер_группы] [char](10) NOT NULL,
	[Факультет] [int] NOT NULL,
 CONSTRAINT [PK_Группы] PRIMARY KEY CLUSTERED 
(
	[Код_группы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Дипломные работы]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дипломные работы](
	[Код_работы] [int] IDENTITY(1,1) NOT NULL,
	[Студент] [int] NOT NULL,
	[Руководитель] [int] NOT NULL,
	[Тема] [char](32) NOT NULL,
 CONSTRAINT [PK_Дипломные работы] PRIMARY KEY CLUSTERED 
(
	[Код_работы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Диссертации]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Диссертации](
	[Код_диссертации] [int] IDENTITY(1,1) NOT NULL,
	[Вид] [tinyint] NOT NULL,
	[Преподаватель] [int] NOT NULL,
	[Тема] [char](32) NOT NULL,
	[Дата_защиты] [date] NOT NULL,
 CONSTRAINT [PK_Диссертации] PRIMARY KEY CLUSTERED 
(
	[Код_диссертации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Дисциплины]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дисциплины](
	[Код_дисциплины] [int] IDENTITY(1,1) NOT NULL,
	[Название] [char](32) NOT NULL,
 CONSTRAINT [PK_Дисциплины] PRIMARY KEY CLUSTERED 
(
	[Код_дисциплины] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категории преподавателей]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категории преподавателей](
	[Код_категории] [tinyint] IDENTITY(1,1) NOT NULL,
	[Название] [char](32) NOT NULL,
	[Возможность_обучения_в_аспирантуре] [bit] NOT NULL,
 CONSTRAINT [PK_Категории преподавателей] PRIMARY KEY CLUSTERED 
(
	[Код_категории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Кафедры]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кафедры](
	[Код_кафедры] [int] IDENTITY(1,1) NOT NULL,
	[Название_кафедры] [char](64) NOT NULL,
	[Факультет] [int] NOT NULL,
 CONSTRAINT [PK_Кафедры] PRIMARY KEY CLUSTERED 
(
	[Код_кафедры] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Преподаватели]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаватели](
	[Код_преподавателя] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [char](32) NOT NULL,
	[Имя] [char](32) NOT NULL,
	[Отчество] [char](32) NOT NULL,
	[Пол] [char](1) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[Количество_детей] [tinyint] NOT NULL,
	[Зарплата] [money] NOT NULL,
	[Категория] [tinyint] NOT NULL,
	[Кафедра] [int] NOT NULL,
	[Обучение_в_аспирантуре] [bit] NOT NULL,
 CONSTRAINT [PK_Преподаватели] PRIMARY KEY CLUSTERED 
(
	[Код_преподавателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Распределение нагрузки]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Распределение нагрузки](
	[Код_распределения] [int] IDENTITY(1,1) NOT NULL,
	[Код_поручения] [int] NOT NULL,
	[Преподаватель] [int] NOT NULL,
	[Вид_занятия] [tinyint] NOT NULL,
 CONSTRAINT [PK_Распределение нагрузки] PRIMARY KEY CLUSTERED 
(
	[Код_распределения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Результаты сессий]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Результаты сессий](
	[Код_результата] [int] IDENTITY(1,1) NOT NULL,
	[Студент] [int] NOT NULL,
	[Дисциплина] [int] NOT NULL,
	[Преподаватель] [int] NOT NULL,
	[Оценка] [tinyint] NOT NULL,
 CONSTRAINT [PK_Результаты сессий] PRIMARY KEY CLUSTERED 
(
	[Код_результата] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студенты]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студенты](
	[Код_студента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [char](32) NOT NULL,
	[Имя] [char](32) NOT NULL,
	[Отчество] [char](32) NOT NULL,
	[Пол] [char](1) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[Наличие_детей] [bit] NOT NULL,
	[Размер_стипендии] [money] NOT NULL,
	[Группа] [int] NOT NULL,
 CONSTRAINT [PK_Студенты] PRIMARY KEY CLUSTERED 
(
	[Код_студента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Учебные поручения]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Учебные поручения](
	[Код_поручения] [int] IDENTITY(1,1) NOT NULL,
	[Дисциплина_из_УП] [int] NOT NULL,
	[Кафедра] [int] NOT NULL,
	[Группа] [int] NOT NULL,
 CONSTRAINT [PK_Учебные поручения] PRIMARY KEY CLUSTERED 
(
	[Код_поручения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Учебный план]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Учебный план](
	[Код_ПунктаУП] [int] IDENTITY(1,1) NOT NULL,
	[Дисциплина] [int] NOT NULL,
	[Курс] [tinyint] NOT NULL,
	[Семестр] [tinyint] NOT NULL,
	[Год_набора_студентов] [date] NOT NULL,
	[Курсовые_работы] [bit] NOT NULL,
	[Курсовые_проекты] [bit] NOT NULL,
	[Форма_контроля] [tinyint] NOT NULL,
 CONSTRAINT [PK_Учебный план] PRIMARY KEY CLUSTERED 
(
	[Код_ПунктаУП] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Факультеты]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Факультеты](
	[Код_факультета] [int] IDENTITY(1,1) NOT NULL,
	[Название_факультета] [char](64) NOT NULL,
 CONSTRAINT [PK_Факультеты] PRIMARY KEY CLUSTERED 
(
	[Код_факультета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Формы контроля]    Script Date: 26.01.2023 20:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Формы контроля](
	[Код_ФормыКонтроля] [tinyint] IDENTITY(1,1) NOT NULL,
	[Форма_контроля] [char](32) NOT NULL,
 CONSTRAINT [PK_Формы контроля] PRIMARY KEY CLUSTERED 
(
	[Код_ФормыКонтроля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Виды диссертаций] ON 

INSERT [dbo].[Виды диссертаций] ([Код_вида_диссертации], [Вид_диссертации]) VALUES (1, N'Кандидатская    ')
INSERT [dbo].[Виды диссертаций] ([Код_вида_диссертации], [Вид_диссертации]) VALUES (2, N'Докторская      ')
SET IDENTITY_INSERT [dbo].[Виды диссертаций] OFF
GO
SET IDENTITY_INSERT [dbo].[Виды занятий] ON 

INSERT [dbo].[Виды занятий] ([Код_ВидаЗанятия], [Вид_занятия]) VALUES (1, N'Лекция                          ')
INSERT [dbo].[Виды занятий] ([Код_ВидаЗанятия], [Вид_занятия]) VALUES (2, N'Семинар                         ')
INSERT [dbo].[Виды занятий] ([Код_ВидаЗанятия], [Вид_занятия]) VALUES (3, N'Лабораторная работа             ')
SET IDENTITY_INSERT [dbo].[Виды занятий] OFF
GO
INSERT [dbo].[Виды занятий по часам] ([Код_ПунктаУП], [Код_ВидаЗанятия], [Количество_часов]) VALUES (1, 2, 108)
INSERT [dbo].[Виды занятий по часам] ([Код_ПунктаУП], [Код_ВидаЗанятия], [Количество_часов]) VALUES (2, 1, 216)
INSERT [dbo].[Виды занятий по часам] ([Код_ПунктаУП], [Код_ВидаЗанятия], [Количество_часов]) VALUES (2, 2, 108)
GO
SET IDENTITY_INSERT [dbo].[Возможные оценки] ON 

INSERT [dbo].[Возможные оценки] ([Код_соответствия], [Код_ФормыКонтроля], [Оценка]) VALUES (1, 1, N'2               ')
INSERT [dbo].[Возможные оценки] ([Код_соответствия], [Код_ФормыКонтроля], [Оценка]) VALUES (2, 1, N'3               ')
INSERT [dbo].[Возможные оценки] ([Код_соответствия], [Код_ФормыКонтроля], [Оценка]) VALUES (3, 1, N'4               ')
SET IDENTITY_INSERT [dbo].[Возможные оценки] OFF
GO
SET IDENTITY_INSERT [dbo].[Группы] ON 

INSERT [dbo].[Группы] ([Код_группы], [Номер_группы], [Факультет]) VALUES (1, N'101       ', 1)
INSERT [dbo].[Группы] ([Код_группы], [Номер_группы], [Факультет]) VALUES (2, N'102       ', 1)
INSERT [dbo].[Группы] ([Код_группы], [Номер_группы], [Факультет]) VALUES (3, N'103       ', 2)
SET IDENTITY_INSERT [dbo].[Группы] OFF
GO
SET IDENTITY_INSERT [dbo].[Дипломные работы] ON 

INSERT [dbo].[Дипломные работы] ([Код_работы], [Студент], [Руководитель], [Тема]) VALUES (1, 5, 4, N'Тема1                           ')
INSERT [dbo].[Дипломные работы] ([Код_работы], [Студент], [Руководитель], [Тема]) VALUES (2, 6, 4, N'Тема2                           ')
INSERT [dbo].[Дипломные работы] ([Код_работы], [Студент], [Руководитель], [Тема]) VALUES (3, 7, 1, N'Тема3                           ')
SET IDENTITY_INSERT [dbo].[Дипломные работы] OFF
GO
SET IDENTITY_INSERT [dbo].[Диссертации] ON 

INSERT [dbo].[Диссертации] ([Код_диссертации], [Вид], [Преподаватель], [Тема], [Дата_защиты]) VALUES (2, 2, 5, N'Тема1                           ', CAST(N'1983-06-12' AS Date))
INSERT [dbo].[Диссертации] ([Код_диссертации], [Вид], [Преподаватель], [Тема], [Дата_защиты]) VALUES (3, 1, 7, N'Тема2                           ', CAST(N'1987-05-31' AS Date))
INSERT [dbo].[Диссертации] ([Код_диссертации], [Вид], [Преподаватель], [Тема], [Дата_защиты]) VALUES (4, 1, 2, N'Тема3                           ', CAST(N'2019-06-11' AS Date))
SET IDENTITY_INSERT [dbo].[Диссертации] OFF
GO
SET IDENTITY_INSERT [dbo].[Дисциплины] ON 

INSERT [dbo].[Дисциплины] ([Код_дисциплины], [Название]) VALUES (1, N'Физическая культура             ')
INSERT [dbo].[Дисциплины] ([Код_дисциплины], [Название]) VALUES (2, N'Математический анализ           ')
INSERT [dbo].[Дисциплины] ([Код_дисциплины], [Название]) VALUES (3, N'Экономика                       ')
SET IDENTITY_INSERT [dbo].[Дисциплины] OFF
GO
SET IDENTITY_INSERT [dbo].[Категории преподавателей] ON 

INSERT [dbo].[Категории преподавателей] ([Код_категории], [Название], [Возможность_обучения_в_аспирантуре]) VALUES (1, N'Ассистент                       ', 1)
INSERT [dbo].[Категории преподавателей] ([Код_категории], [Название], [Возможность_обучения_в_аспирантуре]) VALUES (2, N'Преподаватель                   ', 1)
INSERT [dbo].[Категории преподавателей] ([Код_категории], [Название], [Возможность_обучения_в_аспирантуре]) VALUES (3, N'Старший преподаватель           ', 0)
SET IDENTITY_INSERT [dbo].[Категории преподавателей] OFF
GO
SET IDENTITY_INSERT [dbo].[Кафедры] ON 

INSERT [dbo].[Кафедры] ([Код_кафедры], [Название_кафедры], [Факультет]) VALUES (1, N'Архитектура                                                     ', 1)
INSERT [dbo].[Кафедры] ([Код_кафедры], [Название_кафедры], [Факультет]) VALUES (2, N'Градостроительство, инженерные сети и системы                   ', 1)
INSERT [dbo].[Кафедры] ([Код_кафедры], [Название_кафедры], [Факультет]) VALUES (3, N'Клиническая психология                                          ', 2)
SET IDENTITY_INSERT [dbo].[Кафедры] OFF
GO
SET IDENTITY_INSERT [dbo].[Преподаватели] ON 

INSERT [dbo].[Преподаватели] ([Код_преподавателя], [Фамилия], [Имя], [Отчество], [Пол], [Дата_рождения], [Количество_детей], [Зарплата], [Категория], [Кафедра], [Обучение_в_аспирантуре]) VALUES (1, N'Трофимова                       ', N'Юлиана                          ', N'Филипповна                      ', N'Ж', CAST(N'1983-08-11' AS Date), 1, 30000.0000, 3, 10, 0)
INSERT [dbo].[Преподаватели] ([Код_преподавателя], [Фамилия], [Имя], [Отчество], [Пол], [Дата_рождения], [Количество_детей], [Зарплата], [Категория], [Кафедра], [Обучение_в_аспирантуре]) VALUES (2, N'Цызырев                         ', N'Иван                            ', N'Яковлевич                       ', N'М', CAST(N'1993-05-04' AS Date), 0, 25000.0000, 2, 9, 1)
INSERT [dbo].[Преподаватели] ([Код_преподавателя], [Фамилия], [Имя], [Отчество], [Пол], [Дата_рождения], [Количество_детей], [Зарплата], [Категория], [Кафедра], [Обучение_в_аспирантуре]) VALUES (3, N'Мухортов                        ', N'Георгий                         ', N'Романович                       ', N'М', CAST(N'1965-08-01' AS Date), 2, 45000.0000, 4, 5, 0)
SET IDENTITY_INSERT [dbo].[Преподаватели] OFF
GO
SET IDENTITY_INSERT [dbo].[Распределение нагрузки] ON 

INSERT [dbo].[Распределение нагрузки] ([Код_распределения], [Код_поручения], [Преподаватель], [Вид_занятия]) VALUES (1, 1, 2, 2)
INSERT [dbo].[Распределение нагрузки] ([Код_распределения], [Код_поручения], [Преподаватель], [Вид_занятия]) VALUES (2, 8, 2, 2)
INSERT [dbo].[Распределение нагрузки] ([Код_распределения], [Код_поручения], [Преподаватель], [Вид_занятия]) VALUES (3, 9, 6, 2)
SET IDENTITY_INSERT [dbo].[Распределение нагрузки] OFF
GO
SET IDENTITY_INSERT [dbo].[Результаты сессий] ON 

INSERT [dbo].[Результаты сессий] ([Код_результата], [Студент], [Дисциплина], [Преподаватель], [Оценка]) VALUES (1, 1, 1, 2, 5)
INSERT [dbo].[Результаты сессий] ([Код_результата], [Студент], [Дисциплина], [Преподаватель], [Оценка]) VALUES (2, 2, 1, 2, 5)
INSERT [dbo].[Результаты сессий] ([Код_результата], [Студент], [Дисциплина], [Преподаватель], [Оценка]) VALUES (4, 3, 2, 5, 5)
SET IDENTITY_INSERT [dbo].[Результаты сессий] OFF
GO
SET IDENTITY_INSERT [dbo].[Студенты] ON 

INSERT [dbo].[Студенты] ([Код_студента], [Фамилия], [Имя], [Отчество], [Пол], [Дата_рождения], [Наличие_детей], [Размер_стипендии], [Группа]) VALUES (1, N'Швечиков                        ', N'Виталий                         ', N'Романович                       ', N'М', CAST(N'1999-02-03' AS Date), 0, 3000.0000, 1)
INSERT [dbo].[Студенты] ([Код_студента], [Фамилия], [Имя], [Отчество], [Пол], [Дата_рождения], [Наличие_детей], [Размер_стипендии], [Группа]) VALUES (2, N'Иванов                          ', N'Иван                            ', N'Иванович                        ', N'М', CAST(N'2000-01-17' AS Date), 0, 3000.0000, 1)
INSERT [dbo].[Студенты] ([Код_студента], [Фамилия], [Имя], [Отчество], [Пол], [Дата_рождения], [Наличие_детей], [Размер_стипендии], [Группа]) VALUES (3, N'Иванова                         ', N'Мария                           ', N'Ивановна                        ', N'Ж', CAST(N'1998-03-03' AS Date), 1, 3500.0000, 2)
SET IDENTITY_INSERT [dbo].[Студенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Учебные поручения] ON 

INSERT [dbo].[Учебные поручения] ([Код_поручения], [Дисциплина_из_УП], [Кафедра], [Группа]) VALUES (1, 1, 9, 1)
INSERT [dbo].[Учебные поручения] ([Код_поручения], [Дисциплина_из_УП], [Кафедра], [Группа]) VALUES (2, 2, 10, 2)
INSERT [dbo].[Учебные поручения] ([Код_поручения], [Дисциплина_из_УП], [Кафедра], [Группа]) VALUES (3, 3, 10, 3)
SET IDENTITY_INSERT [dbo].[Учебные поручения] OFF
GO
SET IDENTITY_INSERT [dbo].[Учебный план] ON 

INSERT [dbo].[Учебный план] ([Код_ПунктаУП], [Дисциплина], [Курс], [Семестр], [Год_набора_студентов], [Курсовые_работы], [Курсовые_проекты], [Форма_контроля]) VALUES (1, 1, 1, 1, CAST(N'2018-09-01' AS Date), 0, 0, 2)
INSERT [dbo].[Учебный план] ([Код_ПунктаУП], [Дисциплина], [Курс], [Семестр], [Год_набора_студентов], [Курсовые_работы], [Курсовые_проекты], [Форма_контроля]) VALUES (2, 2, 1, 1, CAST(N'2018-09-01' AS Date), 0, 0, 2)
INSERT [dbo].[Учебный план] ([Код_ПунктаУП], [Дисциплина], [Курс], [Семестр], [Год_набора_студентов], [Курсовые_работы], [Курсовые_проекты], [Форма_контроля]) VALUES (3, 2, 1, 2, CAST(N'2018-09-01' AS Date), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Учебный план] OFF
GO
SET IDENTITY_INSERT [dbo].[Факультеты] ON 

INSERT [dbo].[Факультеты] ([Код_факультета], [Название_факультета]) VALUES (1, N'Архитектурно-строительный институт                              ')
INSERT [dbo].[Факультеты] ([Код_факультета], [Название_факультета]) VALUES (2, N'Высшая медико-биологическая школа                               ')
INSERT [dbo].[Факультеты] ([Код_факультета], [Название_факультета]) VALUES (3, N'Высшая школа экономики и управления                             ')
SET IDENTITY_INSERT [dbo].[Факультеты] OFF
GO
SET IDENTITY_INSERT [dbo].[Формы контроля] ON 

INSERT [dbo].[Формы контроля] ([Код_ФормыКонтроля], [Форма_контроля]) VALUES (1, N'Экзамен                         ')
INSERT [dbo].[Формы контроля] ([Код_ФормыКонтроля], [Форма_контроля]) VALUES (2, N'Зачет                           ')
INSERT [dbo].[Формы контроля] ([Код_ФормыКонтроля], [Форма_контроля]) VALUES (3, N'Дифференцированный зачет        ')
SET IDENTITY_INSERT [dbo].[Формы контроля] OFF
GO
/****** Object:  Index [IX_Дипломные работы]    Script Date: 26.01.2023 20:14:07 ******/
ALTER TABLE [dbo].[Дипломные работы] ADD  CONSTRAINT [IX_Дипломные работы] UNIQUE NONCLUSTERED 
(
	[Код_работы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Виды занятий по часам]  WITH CHECK ADD  CONSTRAINT [FK_Виды занятий по часам_Виды занятий] FOREIGN KEY([Код_ВидаЗанятия])
REFERENCES [dbo].[Виды занятий] ([Код_ВидаЗанятия])
GO
ALTER TABLE [dbo].[Виды занятий по часам] CHECK CONSTRAINT [FK_Виды занятий по часам_Виды занятий]
GO
ALTER TABLE [dbo].[Виды занятий по часам]  WITH CHECK ADD  CONSTRAINT [FK_Виды занятий по часам_Учебный план] FOREIGN KEY([Код_ПунктаУП])
REFERENCES [dbo].[Учебный план] ([Код_ПунктаУП])
GO
ALTER TABLE [dbo].[Виды занятий по часам] CHECK CONSTRAINT [FK_Виды занятий по часам_Учебный план]
GO
ALTER TABLE [dbo].[Возможные оценки]  WITH CHECK ADD  CONSTRAINT [FK_Возможные оценки_Формы контроля] FOREIGN KEY([Код_ФормыКонтроля])
REFERENCES [dbo].[Формы контроля] ([Код_ФормыКонтроля])
GO
ALTER TABLE [dbo].[Возможные оценки] CHECK CONSTRAINT [FK_Возможные оценки_Формы контроля]
GO
ALTER TABLE [dbo].[Группы]  WITH CHECK ADD  CONSTRAINT [FK_Группы_Факультеты] FOREIGN KEY([Факультет])
REFERENCES [dbo].[Факультеты] ([Код_факультета])
GO
ALTER TABLE [dbo].[Группы] CHECK CONSTRAINT [FK_Группы_Факультеты]
GO
ALTER TABLE [dbo].[Дипломные работы]  WITH CHECK ADD  CONSTRAINT [FK_Дипломные работы_Преподаватели] FOREIGN KEY([Руководитель])
REFERENCES [dbo].[Преподаватели] ([Код_преподавателя])
GO
ALTER TABLE [dbo].[Дипломные работы] CHECK CONSTRAINT [FK_Дипломные работы_Преподаватели]
GO
ALTER TABLE [dbo].[Дипломные работы]  WITH CHECK ADD  CONSTRAINT [FK_Дипломные работы_Студенты] FOREIGN KEY([Студент])
REFERENCES [dbo].[Студенты] ([Код_студента])
GO
ALTER TABLE [dbo].[Дипломные работы] CHECK CONSTRAINT [FK_Дипломные работы_Студенты]
GO
ALTER TABLE [dbo].[Диссертации]  WITH CHECK ADD  CONSTRAINT [FK_Диссертации_Виды диссертаций] FOREIGN KEY([Вид])
REFERENCES [dbo].[Виды диссертаций] ([Код_вида_диссертации])
GO
ALTER TABLE [dbo].[Диссертации] CHECK CONSTRAINT [FK_Диссертации_Виды диссертаций]
GO
ALTER TABLE [dbo].[Диссертации]  WITH CHECK ADD  CONSTRAINT [FK_Диссертации_Преподаватели] FOREIGN KEY([Преподаватель])
REFERENCES [dbo].[Преподаватели] ([Код_преподавателя])
GO
ALTER TABLE [dbo].[Диссертации] CHECK CONSTRAINT [FK_Диссертации_Преподаватели]
GO
ALTER TABLE [dbo].[Кафедры]  WITH CHECK ADD  CONSTRAINT [FK_Кафедры_Факультеты] FOREIGN KEY([Факультет])
REFERENCES [dbo].[Факультеты] ([Код_факультета])
GO
ALTER TABLE [dbo].[Кафедры] CHECK CONSTRAINT [FK_Кафедры_Факультеты]
GO
ALTER TABLE [dbo].[Преподаватели]  WITH CHECK ADD  CONSTRAINT [FK_Преподаватели_Категории преподавателей] FOREIGN KEY([Категория])
REFERENCES [dbo].[Категории преподавателей] ([Код_категории])
GO
ALTER TABLE [dbo].[Преподаватели] CHECK CONSTRAINT [FK_Преподаватели_Категории преподавателей]
GO
ALTER TABLE [dbo].[Преподаватели]  WITH CHECK ADD  CONSTRAINT [FK_Преподаватели_Кафедры] FOREIGN KEY([Кафедра])
REFERENCES [dbo].[Кафедры] ([Код_кафедры])
GO
ALTER TABLE [dbo].[Преподаватели] CHECK CONSTRAINT [FK_Преподаватели_Кафедры]
GO
ALTER TABLE [dbo].[Распределение нагрузки]  WITH CHECK ADD  CONSTRAINT [FK_Распределение нагрузки_Виды занятий] FOREIGN KEY([Вид_занятия])
REFERENCES [dbo].[Виды занятий] ([Код_ВидаЗанятия])
GO
ALTER TABLE [dbo].[Распределение нагрузки] CHECK CONSTRAINT [FK_Распределение нагрузки_Виды занятий]
GO
ALTER TABLE [dbo].[Распределение нагрузки]  WITH CHECK ADD  CONSTRAINT [FK_Распределение нагрузки_Преподаватели] FOREIGN KEY([Преподаватель])
REFERENCES [dbo].[Преподаватели] ([Код_преподавателя])
GO
ALTER TABLE [dbo].[Распределение нагрузки] CHECK CONSTRAINT [FK_Распределение нагрузки_Преподаватели]
GO
ALTER TABLE [dbo].[Распределение нагрузки]  WITH CHECK ADD  CONSTRAINT [FK_Распределение нагрузки_Учебные поручения] FOREIGN KEY([Код_поручения])
REFERENCES [dbo].[Учебные поручения] ([Код_поручения])
GO
ALTER TABLE [dbo].[Распределение нагрузки] CHECK CONSTRAINT [FK_Распределение нагрузки_Учебные поручения]
GO
ALTER TABLE [dbo].[Результаты сессий]  WITH CHECK ADD  CONSTRAINT [FK_Результаты сессий_Возможные оценки] FOREIGN KEY([Оценка])
REFERENCES [dbo].[Возможные оценки] ([Код_соответствия])
GO
ALTER TABLE [dbo].[Результаты сессий] CHECK CONSTRAINT [FK_Результаты сессий_Возможные оценки]
GO
ALTER TABLE [dbo].[Результаты сессий]  WITH CHECK ADD  CONSTRAINT [FK_Результаты сессий_Преподаватели] FOREIGN KEY([Преподаватель])
REFERENCES [dbo].[Преподаватели] ([Код_преподавателя])
GO
ALTER TABLE [dbo].[Результаты сессий] CHECK CONSTRAINT [FK_Результаты сессий_Преподаватели]
GO
ALTER TABLE [dbo].[Результаты сессий]  WITH CHECK ADD  CONSTRAINT [FK_Результаты сессий_Студенты] FOREIGN KEY([Студент])
REFERENCES [dbo].[Студенты] ([Код_студента])
GO
ALTER TABLE [dbo].[Результаты сессий] CHECK CONSTRAINT [FK_Результаты сессий_Студенты]
GO
ALTER TABLE [dbo].[Результаты сессий]  WITH CHECK ADD  CONSTRAINT [FK_Результаты сессий_Учебный план] FOREIGN KEY([Дисциплина])
REFERENCES [dbo].[Учебный план] ([Код_ПунктаУП])
GO
ALTER TABLE [dbo].[Результаты сессий] CHECK CONSTRAINT [FK_Результаты сессий_Учебный план]
GO
ALTER TABLE [dbo].[Студенты]  WITH CHECK ADD  CONSTRAINT [FK_Студенты_Группы] FOREIGN KEY([Группа])
REFERENCES [dbo].[Группы] ([Код_группы])
GO
ALTER TABLE [dbo].[Студенты] CHECK CONSTRAINT [FK_Студенты_Группы]
GO
ALTER TABLE [dbo].[Учебные поручения]  WITH CHECK ADD  CONSTRAINT [FK_Учебные поручения_Группы] FOREIGN KEY([Группа])
REFERENCES [dbo].[Группы] ([Код_группы])
GO
ALTER TABLE [dbo].[Учебные поручения] CHECK CONSTRAINT [FK_Учебные поручения_Группы]
GO
ALTER TABLE [dbo].[Учебные поручения]  WITH CHECK ADD  CONSTRAINT [FK_Учебные поручения_Кафедры] FOREIGN KEY([Кафедра])
REFERENCES [dbo].[Кафедры] ([Код_кафедры])
GO
ALTER TABLE [dbo].[Учебные поручения] CHECK CONSTRAINT [FK_Учебные поручения_Кафедры]
GO
ALTER TABLE [dbo].[Учебные поручения]  WITH CHECK ADD  CONSTRAINT [FK_Учебные поручения_Учебный план] FOREIGN KEY([Дисциплина_из_УП])
REFERENCES [dbo].[Учебный план] ([Код_ПунктаУП])
GO
ALTER TABLE [dbo].[Учебные поручения] CHECK CONSTRAINT [FK_Учебные поручения_Учебный план]
GO
ALTER TABLE [dbo].[Учебный план]  WITH CHECK ADD  CONSTRAINT [FK_Учебный план_Дисциплины] FOREIGN KEY([Дисциплина])
REFERENCES [dbo].[Дисциплины] ([Код_дисциплины])
GO
ALTER TABLE [dbo].[Учебный план] CHECK CONSTRAINT [FK_Учебный план_Дисциплины]
GO
ALTER TABLE [dbo].[Учебный план]  WITH CHECK ADD  CONSTRAINT [FK_Учебный план_Формы контроля] FOREIGN KEY([Форма_контроля])
REFERENCES [dbo].[Формы контроля] ([Код_ФормыКонтроля])
GO
ALTER TABLE [dbo].[Учебный план] CHECK CONSTRAINT [FK_Учебный план_Формы контроля]
GO
